# **Home task: pandas**

## Question 1

In [117]:
import pandas as pd 
import numpy as np


def answer_one():
# LOAD ENERGY
    energy = pd.read_excel('/Users/user/Desktop/Camp2025/lesson_3/Energy Indicators.xls', skiprows=17, skipfooter=38)

    energy = energy.drop(energy.columns[[0, 1]], axis=1)

    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    energy = energy.replace('...', np.NaN)

    energy.iloc[:, 1] *= 1000000

    energy['Country'] = energy['Country'].str.replace(r'\d+', '', regex=True)
    energy['Country'] = energy['Country'].str.replace(r'\(.*?\)', '', regex=True)
    energy['Country'] = energy['Country'].str.replace(r'\s+', ' ', regex=True).str.strip()
    renema_countries = {
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
    }
    energy['Country'] = energy['Country'].replace(renema_countries)



    # LOAD GDP
    GDP = pd.read_csv('/Users/user/Desktop/Camp2025/lesson_3/world_bank.csv', skiprows=4)
    GDP = GDP.iloc[:, :-1]

    rename_columns = {
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
    }

    GDP['Country Name'] = GDP['Country Name'].replace(rename_columns)

    years = [str(year) for year in range(2006, 2016)]
    GDP = GDP[['Country Name'] + years]

    # LOAD SCIMEN
    ScimEn = pd.read_excel('/Users/user/Desktop/Camp2025/lesson_3/scimagojr country rank 1996-2023.xlsx')
    ScimEn_top15 = ScimEn[ScimEn['Rank'] <= 15]


    merged = pd.merge(ScimEn_top15, energy, on='Country', how='inner')
    merged = pd.merge(merged, GDP, left_on='Country', right_on='Country Name', how='inner')
    merged.drop(columns=['Country Name'], inplace=True)

    # marging data
    columns_to_keep = [
            'Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
            'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita',
            '% Renewable'
        ] + years
    res = merged[columns_to_keep].set_index('Country')


    return res

answer_one()

                    Rank  Documents  Citable documents  Citations  Self-citations  ...             2011             2012             2013             2014             2015
Country                                                                            ...
China                  1     402188             400158    5077232         3511673  ... 7551545703440.75 8532185381680.59 9570471111831.68 10475624944355.2 11061572618578.7
United States          2     208042             203356    3540288         1004877  ... 15599732000000.0 16253970000000.0 16880683000000.0 17608138000000.0 18295019000000.0
India                  3      81853              79757     968523          369256  ... 1823051829894.55 1827637590410.41 1856721507621.58 2039126479154.52 2103588360044.94
Japan                  4      58342              57735     717946          154848  ... 6233147172341.35 6272362996105.03 5212328181166.18 4896994405353.29 4444930651964.18
United Kingdom         5      56288              54713    1095371          179764  ... 2663805834828.07 2707089726614.64 2784853502534.29 3064708247921.43 2927911140916.73
Germany                6      50906              49773     777362          160302  ... 3824828563521.41 3597896500945.31 3808086291482.36 3965800686309.79 3423568450957.03
Russian Federation     7      46186              45868     217996           96688  ... 2045922753398.04 2208293553878.42 2292470078346.22 2059241589895.01 1363482182197.71
Canada                 8      41209              40390     915491          142691  ... 1793326630174.52  1828366481521.6 1846597421834.98 1805749878439.94 1556508816217.14
Italy                  9      38700              36909     639473          147302  ... 2306974020278.21 2097929495121.68 2153225581941.46 2173255507985.84  1845428048839.1
South Korea           10      38362              38046     618762          105419  ... 1253289537500.81 1278046536287.01  1370632955321.2  1484488526271.8 1466038936206.43
Iran                  11      32080              31725     634135          177894  ... 629082257472.368  644019315003.54 500399839839.877 462284793280.825 409191686496.677
France                12      30810              30139     547122           89958  ... 2870408553990.28 2683007095787.23 2816077607875.26 2861236112552.42  2442483452642.5
Spain                 13      29840              29156     614087          104845  ... 1487568659241.25 1330994811670.31 1362186923157.65 1380244561361.96 1206164777553.12
Australia             14      27993              27254     608021           84747  ... 1398610616772.97  1547532281116.4 1577123329410.88 1468265356427.76 1351296372254.31
Brazil                15      27316              26888     307607           71778  ... 2616156223977.47 2465227803011.57 2472819535742.73 2456043727198.85 1802212206904.68

[15 rows x 20 columns]

## Question 2

In [123]:
def answer_two():
    Top15 = answer_one()
    years = [str(year) for year in range(2006, 2016)]
    avgGDP = Top15[years].mean(axis=1).sort_values(ascending=False)
    return avgGDP
answer_two()

Country
United States          15722425300000.0
China                  6927706587677.17
Japan                 5239642145206.906
Germany              3590728711391.7173
United Kingdom        2777505460635.559
France                2692000013149.825
Italy                2152982940441.4421
Brazil                1988888979246.516
Russian Federation   1666745638113.2356
Canada                1616359264592.761
India                1602352077023.4458
Spain                1406644481049.0923
South Korea          1221328061560.8384
Australia            1207996576070.6328
Iran                 456751628629.76056
dtype: float64

## Question 3

In [132]:
def answer_three():
    Top15 = answer_one()
    avgGDP = answer_two()
    country = avgGDP.index[5]
    return Top15.loc[country]['2015'] - Top15.loc[country]['2006']

answer_three()

124621907951.68018

## Question 4

In [135]:
def answer_four():
    Top15 = answer_one()
    Top15['Ratio'] = Top15['Self-citations'] / Top15['Citations']
    country = Top15['Ratio'].idxmax()
    ratio = Top15['Ratio'].max()
    return country, ratio
answer_four()

('China', 0.6916510807463594)

## Question 5

In [144]:
def answer_five():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    res = Top15.sort_values('Population', ascending=False)
    return res.index[2]

answer_five()

'United States'

## Question 6

In [147]:
def answer_six():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['Population']
    return Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

answer_six()

0.7019601723071187

## Question 7

In [152]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {
                  'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    

    if 'Country' in Top15.columns:
        Top15.set_index('Country', inplace=True)
    Top15['Continent'] = Top15.index.map(ContinentDict)
    Top15.dropna(subset=['Continent'], inplace=True)
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    res = Top15.groupby('Continent')['Population'].agg(['size', 'sum', 'mean', 'std'])
    return res

answer_seven()

               size                sum               mean               std
Continent
Asia              5 2898666386.6106005  579733277.3221201 679097888.3660953
Australia         1 23316017.316017315 23316017.316017315               NaN
Europe            6  457929667.2163719  76321611.20272864 34647667.06562293
North America     2  352855249.4802495 176427624.74012476 199669644.8566684
South America     1 205915254.23728815 205915254.23728815               NaN